@import url("./../css/settingStart.css");


/* scrollToAreaMenu CSS */
#scrollToAreaMenu{
  header{
    position: fixed;
    background-color: #999;
    width: 100%;
    color: #fff;
    font-size: 20px;
    a{
      padding: 10px;
    }
  }
  > section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
    font-size: 30px;
    color: #999;
  }
}

/* infiniteOneSlider CSS */
#infiniteOneSlider{
  position: relative;
  width: 100%;
  margin: 0 auto;
  user-select: none;
  // 이전 다음 버튼
  [class*="btn-"]{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    &.btn-prev{ left: 0; }
    &.btn-next{ right:0; }
  }

  // slider
  .slider{
    margin: 0 auto;
    width: calc(100% - 100px);
    overflow:hidden;
    border: 3px solid #000;
    .slide-wrap{
      display: flex;
      .slide{
        flex-shrink: 0;
        border: 1px solid #000; 
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  // pagination
  .pagination{
    display: flex;
    gap: .2em;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    > div{
      flex-shrink: 0;
      width: 12px;
      height: 12px;
      font-size: 8px;
      text-align: center;
      border-radius: 50%;
      background-color: gray;
      cursor: pointer;
      &.active{
        background-color: red;
      }
    }
  }


}